.compass {
	pointer-events: auto;
	position: fixed;
	top: 25px;
	left: 115px;
	width: 175px;
	height: 175px;
	/*transition: 125ms linear all;*/
}

.md-ripple {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.md-ripple * {
	pointer-events: none;
}

.md-ripple-effect {
  pointer-events: none;
  position: absolute;
  display: block;
  background: #000;
  width: 0;
  height: 0;
  border-radius: 100%;
  z-index: 1;
}

div.click-capture {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 888;
	pointer-events: auto;
}

div.ztap-to-start {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	pointer-events: none;
}

.points {
	pointer-events: none;
    z-index: 900;
}

/*
img.search-btn {
	width: 30px;
	pointer-events: auto;
	cursor: pointer;
    z-index: 900;
}
 */

div.nav-menu {
    display: flex;
	position: fixed;
	bottom: 40px;
	left: 0px;
	overflow: hidden;
    padding: 5px 30px;
    align-items: center;
	font-size: 30px;
	font-weight: bold;
	font-color: #ccc;
	border: thin solid #ccc;
	background-color: #fff;
	height: 84px;
	width: 150px;
	-webkit-transition: width 0.25s ease, opacity 0.25s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.25s ease, opacity 0.25s ease;
	pointer-events: auto;
    cursor: pointer;
    z-index: 900;
}

table.nav-menu-new {
	position: absolute;
	table-layout: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	/*font-size: 28px;*/
	font-size: 2.5vh;
	line-height: .75;
	font-weight: bold;
	font-color: #ccc;
	background-color: transparent;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	width: 84px;
	pointer-events: auto;
    cursor: pointer;
    z-index: 900;
}

table.nav-menu-new tr.row-menu {
	/*height: 20%;*/
}

table.nav-menu-new tr.row-btn {
	height: 1%;
}

table.nav-menu-new td {
	border: none;
}

table.nav-menu-new span {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	white-space: nowrap;
	/*text-orientation: upright;*/
}

table.nav-menu-new span.cat-box-search {
	/*writing-mode: vertical-rl;
	transform: rotate(0deg);
	text-orientation: upright;*/
}

table.nav-menu-new span.nav-icon {
	writing-mode: vertical-rl;
	transform: rotate(0deg);
	/*text-orientation: upright;*/
	margin: 15px auto;
}

table.nav-menu-new span.nav-icon img {
	height: 45px;
}

div.nav-menu-new .menu-category {
	text-align: center;
	align-items: center;
	width: 84px;
}

/*
div.nav-menu-new .menu-category img {
	margin: 0px auto;
	display: block;

    max-width: 50px;
    max-height: 50px;
}
 */

div.menu-open {
	left: 0px;
	width: auto;
	opacity: 1;
	z-index: 900;
}

div.cat-wrap {
    padding: 0px;
	border: none;
	background-color: none;
	height: 84px;
	left: 0px;
	width: auto;
	opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    pointer-events: auto;
}

div.menu-category {
	position: relative;
	margin: 0px;
}

span.cat-box {
	/*display: block;*/
	margin: 18px 30px;
	pointer-events: auto;
}

div.fade-out {
	left: -100px;
	width: 0px;
	opacity: 0;
}

div.flyout, div.subfly {
	position: fixed;
	/*bottom: 124px;*/
	bottom: 0px;
	left: 84px;
	z-index: 901;
	background-color: transparent;
	height: auto;
	/*max-height: 954px;*/
	max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
	margin: auto 0px;
	padding: 0px;
	pointer-events: auto;
	width: 0px;
	opacity: 0;
    transition: all 0.125s ease;
    z-index: 900;
}

div.webkit-scroll {
    margin-right:50px;
}

/* width */
div.webkit-scroll::-webkit-scrollbar {
    width: 40px;
	background-color: transparent;
}

/* Track */
div.webkit-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 30px 30px rgba(60,60,60,0.6);
	border-radius: 4px;
	margin: 4px;
}

/* Handle */
div.webkit-scroll::-webkit-scrollbar-thumb {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.3);
	background-color: #555;
}

/* Handle on hover */
div.webkit-scroll::-webkit-scrollbar-thumb:hover {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.3);
	background-color: #555;
	/*background-image: url(images/lines.png)*/
}

div.reveal-horz {
	width: auto;
	opacity: 1;
    transition: all 0.35s ease;
}

div.search-box {
	position: fixed;
	bottom: 0px;
	left: 84px;
	height: 100%;
	/*width: 450px;*/
	background-color: transparent;
}

div.reveal-vert {
	opacity: 1;
	pointer-events: auto;
	bottom: 50px;
}

div.flyout span, div.subfly span {
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
	pointer-events: auto;
	cursor: pointer;
    z-index: 900;
    padding: 5px 20px;
    /*color: #000;*/
    transition: color 0.2s ease;
	/*background-color: #fff;*/
    transition: background-color 0.2s ease;
}

div.search-box {
	overflow: hidden;
}

td.search-list {
	/*width: 500px;*/
	overflow: hidden;
}

td.search-input {
	height: 10px;
	width: 500px;
}

div.search-list {
	position: relative;
	bottom: 0px;
	height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

table.tbl-search {
	height: 100%;
}

table.tbl-search td.wedge{
	height: 100%;
}

table.tbl-search td {
	border: none;
}

div.buildings span {
	background-color: #dde2e2;
}
div.academics span {
	background-color: #d6cecd;
}
div.offices span {
	background-color: #9a8e88;
}
div.facilities span {
	background-color: #52869f;
}
div.sculptures span {
	background-color: #f4581e;
}
div.accessibility span {
	background-color: #3cf;
}
div.firstaid span {
	background-color: #ed1b2e;
}
div.flyout span:hover, div.subfly span:hover {
	text-decoration: underline;
	color: #fff;
	background-color: #39f;
}

.warn {
	color : #900;
}

.okay {
	color: #060;
}

.hasImg {
	color: #990;
}

.noImg {
	color: #900;
}

div.poi-box {
	position: fixed;
	top: 35px;
	right: 35px;
	width: 0px;
	height: 75%;
	z-index: 999;
	overflow: hidden;
	opacity: 0;
}

div.poi-box img {
	max-width: 100%;
	max-height: 100%;
}

.hiddenZ {
	display: none !important;
}

.offcamp {
	/*color: #900 !important;*/
}

div#back-button button {
	background-color: transparent !important;
	border-color: transparent !important;
	padding: 0px !important;
}

div#back-button button img {
	height: 45px;
}

/* legend styles ------------------------------------------------------------------------ */

div.legend {
	position: fixed;
	top: 35px;
	right: 0px;
	width: 500px;
	height: auto;
	/*padding-bottom: 15px;*/
	border-radius: 4px;
	border: none;
	opacity: 0;
    box-shadow: 0 0 300px 300px rgba(60,60,60, 0.7) inset;
    transition: all 0.25s ease;
    line-height: 150%;
    /*background-image: url(images/lines.png);*/
    z-index: 999;
}

div.showlegend {
	opacity: 1;
	right: 35px;
}

div.legend table {
	table-layout: fixed;
	width: 470px;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 15px;
}

div.legend td {
	border: none;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	color: #fff !important;
}

div.legend td img {
	padding: 0px;
	margin: 0px;
}

div.legend span {
	display: inline-block;
	margin: 0px;
	margin-bottom: 10px;
	/*white-space: nowrap;*/
	font-weight: bold;
}

div.legend span.bldgName {
	font-size: 36px;
}

div.legend span.floorNo {
	font-size: 24px;
}

div.legend span.roomName {
	font-size: 18px;
}

div.legend td.legend-building img {
	width: 450px;
	height: auto;
	opacity: 1;
}

div.legend td.legend-access {
	width: 10px;
}

div.legend img.access {
	width: 140px;
    float: right;
}

div.legend td.legend-access img {
	width: 140px;
    float: right;
}

div.legend span.history {
	font-size: 14px;
	font-weight: normal;
}

div.legend .copy-bold {
	font-size: 17px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

/* -------------------------------------------------------------------------------------- */

.mode-button {
	pointer-events: auto;
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: fixed;
	bottom: -100%;
	right: 10px;
	height: 7% !important;
	padding: 5px 15px;
	/*border: thin solid #333;
	border-radius: 4px;*/
	transition: all .85s ease;
}

.show-mode-button {
	pointer-events: auto;
	bottom: 10px;
	transition: all .85s ease;
}

.mode-button img {
	pointer-events: auto;
	height: 100%;
	opacity: 0.6;
}

img.show-mode-button {
	pointer-events: auto;
	display: inline-block;
	transition: all .85s ease;
}

div.accessibility > span.offcamp {
	display: none;
}

div.accessibility > span.hide-this {
	display: none;
}

div.veil {
	pointer-events: auto;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	border: 0px;
	z-index: 1001;
}

div.veil-box {
	background: #000;
	opacity: 0.2;
}

div.veil-text {
	/*font-family: 'Sarpanch', sans-serif;*/
	font-family: 'Exo', sans-serif;
	font-variant: small-caps;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	font-weight: bold;
	letter-spacing: 30px;
	line-height: 1.75;
	font-size: 4vw;
	color: #fff;
	text-align:	center;
	z-index: 1002;
}

.reset-map {
	position:	fixed;
	top:		30px;
	left:		0px;
	opacity:	0;
	transition: all 0.125s ease;
}

.reset-show {
	pointer-events: auto;
	cursor: pointer;
	opacity: 1 !important;
	left: 30px !important;
}

div.track {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1003;
	color: #000;
}

.disabled {
	opacity: 0.2;
}

.debug {
	background-color: white;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1003;
	color: #000;
}

	/* Ripple effect */
	.ripple {
	  background-position: center;
	  transition: background 1s;
	}
	.ripple:hover {
	  /*background: transparent radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;*/
	  background: transparent radial-gradient(circle, transparent 1%, rgba(0,0,0,0.1) 1%) center/15000%;
	}
	.ripple:active {
	  background-color: transparent;
	  background-size: 100%;
	  transition: background 0s;
	}

	/* Button style */
	.ripple {
		pointer-events: auto;
		display: inline-block;
		position: absolute;
		top:	0px;
		right:	0px;
		bottom:	0px;
		left:	0px;
		width: 100%;
		height: 1%;
		overflow:visible;
		border:	none;
		cursor:	pointer;
		color:	white;
		background-color: transparent;
		z-index: 1112;
	}

